@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* purgecss start ignore */
.max-content {
  height: max-content;
}

.p-link p a{
  text-decoration: underline;
  @apply text-blue-600;
}

.ce-header{
  @apply text-teal-700 text-base;
}

.scroll-hidden::-webkit-scrollbar {
  height: 0px;
  background: transparent; /* make scrollbar transparent */
}

.ce-paragraph{
  @apply text-gray-700 text-sm;
}

.codex-editor{
  border: 2px solid gray;
  border-radius: 5px;
  padding-left: 1rem;
}

.codex-editor__redactor{
  padding-bottom: 150px !important;
}

.ce-toolbar__settings-btn{
  @apply mr-4;
}
/* purgecss end ignore */

